<h3>Angular Tutorial Chapter 3 - 비동기 통신(xhr)</h3>
<br/>
<span class="chapter-title">index.html</span>
<script id="chapter3-1" type="syntaxhighlighter" class="brush: js;  html-script: true">
<![CDATA[
	<html ng-app="tutorialApp">
	<head>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js">
		<script src="script.js">
	</head>

	<body>

	</body>
	</html>
]]>
</script>
<br/>
<span class="chapter-title">script.js</span>
<script id="chapter3-2" type="syntaxhighlighter" class="brush: js">
<![CDATA[
angular.module('tutorialApp', [])
.controller('MainController', function($scope) {

})
]]>
</script>

<a class="chapter-link-plunker" href="" target="_blank">Plunker</a>
